---
 const personalImageAlt = "Luis Soriano"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Luis Soriano. I began my programming journey in 2021. Through extensive study and dedication, I have specialized in <strong>website development</strong> . With long hours of research and hands-on experience, I hope to build beautifully designed, fully functional websites to help businesses and individuals achieve their goals online.  </strong
      >.
    </p>

    <p>
      My passion is using my coding skills to create intuitive user experiences across different platforms and devices. <strong> As an aspiring web developer</strong>, I aim to continuously improve and expand my skills to produce high-quality digital solutions for clients.
    </p>

    <p>Currently, I am a college student studying Computer Science. Upon graduating, my goal is to apply the skills and knowledge I have gained towards building a successful career in software development.  </p>
    
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

